<div class="border border-2 border-info rounded p-2 mb-5">
    <h4 class="text-center">Tarefa Vinculada</h4>
    <div class="row mt-4">
        <div class="col-md-12">
            <span class="badge badge-info fs-5 w-100">CRIADO EM: {{ task.date_create|date:"d/m/y - H:i" }}</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <label for="id_user">USUÁRIO</label>
            <input type="text" id="id_user" class="form-control" value="{{ task.user }}" disabled="">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <label for="id_description">DESCRIÇÃO</label>
            <textarea class="form-control" id="id_description" rows="5" disabled>{{ task.description }}</textarea>
        </div>
    </div>
</div>