{% extends "01_task/partials/base.html" %}
{% load static %}
{% block main %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">LISTA DE REGISTROS</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="multi-filter-select" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>TAREFA</th>
                            <th>RESPONSÁVEL</th>
                            <th>DURAÇÃO</th>
                            <th>DATA DE CRIAÇÃO</th>
                            <th>DESCRIÇÃO</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>TAREFA</th>
                            <th>RESPONSÁVEL</th>
                            <th>DURAÇÃO</th>
                            <th>DATA DE CRIAÇÃO</th>
                            <th>DESCRIÇÃO</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for register in object_list %}
                        <tr>
                            <td>{{ register.task.description }}</td>
                            <td>{{ register.task.user }}</td>
                            <td>{{ register.minutes }}</td>
                            <td>{{ register.date_create }}</td>
                            <td>{{ register.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock main %}
{% block extra_js %}

<script>
    $(document).ready(function () {

        // Inicializa a DataTable
        $("#multi-filter-select").DataTable({
            pageLength: 5,
            language: {
                "decimal": ",",
                "thousands": ".",
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "Nenhum registro encontrado",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "emptyTable": "Nenhum dado disponível na tabela",
                "aria": {
                    "sortAscending": ": ativar para ordenar a coluna em ordem crescente",
                    "sortDescending": ": ativar para ordenar a coluna em ordem decrescente"
                },
                "select": {
                    "rows": {
                        "_": "Selecionado %d linhas",
                        "0": "Nenhuma linha selecionada",
                        "1": "Selecionada 1 linha"
                    }
                }
            },
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        var column = this;
                        var input = $('<input type="text" class="form-control" placeholder="Buscar" />')
                            .appendTo($(column.footer()).empty())
                            .on("keyup change clear", function () {
                                if (column.search() !== this.value) {
                                    column
                                        .search(this.value)
                                        .draw();
                                }
                            });
                    });
            },
        });
    });
</script>

{% endblock extra_js %}
