{% extends "01_task/partials/base.html" %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-round">
            <div class="card-body">
                <div class="card-title fw-mediumbold">Excluir Registro</div>
                <hr>
                {% include '01_task/partials/card-task.html' with task=object.task %}
                <hr>
                <p class="text-danger text-center border border-danger rounded">
                    Atenção! Esta ação excluirá somente o registro atual.
                </p>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <span class="badge badge-success fs-5 w-100">CRIADO EM: {{ object.date_create|date:"d/m/y - H:i" }}</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <span class="badge badge-success fs-5 w-100">TEMPO TOTAL: {{ object.cast_time }}</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <label for="id_user">DURAÇÃO</label>
                        <input type="text" id="id_user" class="form-control" value="{{ object.minutes }}" disabled="">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <label for="id_description">DESCRIÇÃO</label>
                        <textarea class="form-control" id="id_description" rows="5" disabled>{{ object.description }}</textarea>
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Excluir Registro
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-round">
            <div class="card-body">
                <div class="card-title fw-mediumbold">Registros Cadastrados</div>
                <hr>
                <p class="text-danger text-center border border-danger rounded">
                    Atenção! Esta ação excluirá somente o registro atual.
                </p>
                {% include '01_task/partials/card-list-register.html' with registers=object.task.register_task.all %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
