{% extends "01_task/partials/base.html" %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-round">
            <div class="card-body">
                <div class="card-title fw-mediumbold">Atualizar Registro</div>
                <hr>
                {% include '01_task/partials/card-task.html' with task=object.task %}
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <span class="badge badge-success fs-5 w-100">CRIADO EM: {{ object.date_create|date:"d/m/y - H:i" }}</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <span class="badge badge-success fs-5 w-100">TEMPO TOTAL: {{ object.cast_time }}</span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <label for="{{ form.minutes.id_for_label }}">
                                {{ form.minutes.label|upper }} <small>({{ form.minutes.help_text }})</small> <b class="text-danger">*</b>
                            </label>
                            {{ form.minutes }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <label for="{{ form.description.id_for_label }}">
                                {{ form.description.label|upper }} <small>({{ form.description.help_text }})</small> <b class="text-danger">*</b>
                            </label>
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Salvar Registro
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-round">
            <div class="card-body">
                <div class="card-title fw-mediumbold">Registros Cadastrados</div>
                <hr>
                {% include '01_task/partials/card-list-register.html' with registers=object.task.register_task.all %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
