{% extends "01_task/partials/base.html" %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-round">
            <div class="card-body">
                <div class="card-title fw-mediumbold">Cadastrar Nova Tarefa</div>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <label for="{{ form.user.id_for_label }}">
                                {{ form.user.label|upper }} <b class="text-danger">*</b>
                            </label>
                            {{ form.user }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <label for="{{ form.description.id_for_label }}">
                                {{ form.description.label|upper }} <small>({{ form.description.help_text|upper }})</small> <b class="text-danger">*</b>
                            </label>
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Salvar Tarefa
                            </button>
                        </div>
                    </div>    
                </form>    
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-round">
            <div class="card-body">
                <div class="card-title fw-mediumbold">Tarefas Cadastradas</div>
                <hr>
                {% include '01_task/partials/card-list-task.html' with tasks=tasks %}
            </div>
        </div>
    </div>
</div>   
{% endblock main %}
